body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
.left-container,
.right-container {
    
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}
.main-container {
    display: flex;
    height: 100vh;
  }
  
  .left-container {
    width: 30%;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .left-container h2 {
    margin-bottom: 20px;
  }
  
  .left-container ul {
    list-style: none;
    padding: 0;
  }
  
  .left-container ul li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .right-container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right-container img {
    max-width: 100%;
  }
  